<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Car Dealz Edit Car</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

    {% with messages = get_flashed_messages() %}
    <!-- declare a variable called messages -->
    {% if messages %}
    <!-- check if there are any messages -->
    {% for message in messages %}
    <!-- loop through the messages -->
    <p>{{message}}</p> <!-- display each message in a paragraph tag -->
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container p-5">
        <div class="d-flex justify-content-between">
            <div>
                <h1>Edit {{ car.model }}</h1>
            </div>
            <div class="d-flex">
                <form method="get" action="/user/logout"><button class="btn btn-danger mb-3 me-3">Logout</button></form>
                <form method="get" action="/dashboard"><button class="btn btn-outline-primary mb-3">Dashboard</button>
                </form>
            </div>
        </div>
        <div class="border border-2 border-dark p-3">
            <form action="/edit/car/{{ car.id }}" method="POST">
                <div class="d-flex">
                    <div class='col-12'>
                        <div class="mb-3 d-flex">
                            <label class="form-label">Price:</label>
                            <select class="form-label" name="price">
                                {% for x in range(0, 50000, 100): %}
                                <option value="{{ x }}">{{ x }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 d-flex">
                            <label class="form-label">Model:</label>
                            <input type="text" class="form-label" value="{{ car.model }}" name="model" />
                        </div>
                        <div class="mb-3 d-flex">
                            <label class="form-label">Make:</label>
                            <input type="text" class="form-label" value="{{ car.make }}" name="make" />
                        </div>
                        <div class="mb-3 d-flex">
                            <label class="form-label">Year:</label>
                            <select class="form-label" name="year">
                                {% for x in range(1950, 2022): %}
                                <option value="{{ x }}">{{ x }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 d-flex">
                            <label class="form-label">Description:</label>
                            <input type="text" class="form-label" value="{{ car.description }}" name="description" />
                        </div>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>